<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
    xmlns:h="http://java.sun.com/jsf/html"  
    xmlns:f="http://java.sun.com/jsf/core"  
    xmlns:p="http://primefaces.org/ui">  
 <h:head>  
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<link rel="stylesheet" href="../css/welcome.css" />
<link rel="shortcut icon"  href="../css/shortcut.ico"/>
<title>Drop Courses</title>
</h:head>
<body>
<p:breadCrumb class="menu">
    <p:menuitem value="Categories" outcome="/Welcome.xhtml" icon="fa fa-home"/>
    <p:menuitem value="Drop Courses" outcome="/stu/dropcourse.xhtml" />
</p:breadCrumb>
<h:form class="topcorner">
        <p>Welcome #{WelcomeView.name} #{WelcomeView.role}</p>
    </h:form>
    
   <h:form id="form">
   <p:growl id="growl" life="4000" />
   
    <p:contextMenu for="courseTable" >
        <p:menuitem value="Drop Course" update="growl,added" icon="ui-icon-close" actionListener="#{CourseView.dropList}"/>
        <p:menuitem value="Cancel" icon="ui-icon-close"/>
    </p:contextMenu>
    <p:dataTable id="courseTable" var="course" value="#{CourseView.currentCourses}" widgetVar="coursesTable"
                 emptyMessage="No courses found in your current schedule" filteredValue="#{CourseView.filteredCourses}" rowKey="#{course.crn}"
                 selection="#{CourseView.selectedCourse}" selectionMode="single">
         <f:facet name="header">
            All Courses
        </f:facet>
        
        <p:column filterBy="#{course.crn}" headerText="CRN" filterMatchMode="contains">
            <h:outputText value="#{course.crn}" />
        </p:column>
        
        <p:column filterBy="#{course.name}" headerText="Course Name"  filterMatchMode="contains">
            <h:outputText value="#{course.name}" />
        </p:column>
        <p:column filterBy="#{course.ins}" headerText="Instructor " filterMatchMode="contains">
            <h:outputText value="#{course.ins}" />
        </p:column>
        
        <p:column headerText="Remaining Capacity" >
            <h:outputText value="#{course.remaining}" />
        </p:column>
        
        <p:column headerText="Start" >
            <h:outputText value="#{course.startStr}" />
        </p:column>
        <p:column  headerText="End" >
            <h:outputText value="#{course.endStr}" />
        </p:column>
    </p:dataTable> 
    
    <br/>
    <p:separator />
    
    <p:dataList id="added" value="#{CourseView.dropList}" var="course" type="ordered" rendered="#{WelcomeView.stu}">
        <f:facet name="header">
            Drop List
        </f:facet>
        <p:growl id="growl2" life="4000" />
       
        <h:outputText value="#{course.crn}, #{course.name}" style="display:inline-block"/>
         <p:commandLink update="added,growl2" action="#{CourseView.remove2}" styleClass="ui-icon ui-icon-close" style="float:left;margin-right:10px">
            <f:setPropertyActionListener value="#{course}" target="#{CourseView.selectedCourse2}" />
            <h:outputText value="#{course.crn}, #{course.name}" />
        </p:commandLink>
    </p:dataList>
    <br/>
    <p:separator />
    <br/>
    <div align="center">
   <p:commandButton value="Drop Courses" actionListener="#{CourseView.drop}" icon="ui-icon-pencil" update="added,courseTable"/>
   
</div>
    </h:form>
    
    </body>
</html>