<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
    xmlns:h="http://java.sun.com/jsf/html"  
    xmlns:f="http://java.sun.com/jsf/core"  
    xmlns:p="http://primefaces.org/ui">  
 <h:head>  
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<link rel="stylesheet" href="../css/welcome.css" />
<link rel="shortcut icon"  href="../css/shortcut.ico"/>
<title>Drop Courses</title>
</h:head>
<body>
<p:breadCrumb class="menu">
    <p:menuitem value="Categories" outcome="/Welcome.xhtml" icon="fa fa-home"/>
    <p:menuitem value="Requisites" outcome="/stu/requisite.xhtml" />
</p:breadCrumb>
<h:form class="topcorner">
        <p>Welcome #{WelcomeView.name} #{WelcomeView.role}</p>
    </h:form>
    <br/>
<h:form id="prereq">
    <p:dataList value="#{CourseView.prerequisites}" var="course" type="ordered">
        <f:facet name="header">
            Prerequisites Table
        </f:facet>
        #{course.crn} - #{course.name} : #{course.prerequisite}
    </p:dataList>
    </h:form>
    
    <br/>
    <br/>
    <h:form id="coreq">
    <p:dataList value="#{CourseView.corequisites}" var="course" type="ordered">
        <f:facet name="header">
            Corequisites Table
        </f:facet>
        #{course.crn} - #{course.name} : #{course.corequisite}
    </p:dataList>
    </h:form>
</body>
</html>