<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
    xmlns:h="http://java.sun.com/jsf/html"  
    xmlns:f="http://java.sun.com/jsf/core"  
    xmlns:p="http://primefaces.org/ui">  
 <h:head>  
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<link rel="stylesheet" href="../css/welcome.css" />
<link rel="shortcut icon"  href="../css/shortcut.ico"/>
<title>View Transcript</title>
</h:head>
<body>
<p:breadCrumb class="menu">
    <p:menuitem value="Categories" outcome="/Welcome.xhtml" icon="fa fa-home"/>
    <p:menuitem value="View Transcript" outcome="/stu/selectterm.xhtml" />
</p:breadCrumb>
<h:form class="topcorner">
        <p>Welcome #{WelcomeView.name} #{WelcomeView.role}</p>
    </h:form>
    <br /><br />
    <h:form>
    <p:outputLabel for="term" value="Select term to view Schedule: " />
        <p:selectOneMenu id="term" value="#{TranscriptView.i}" style="width:125px">
            <f:selectItem itemLabel="All Terms" itemValue="-1" />
            <f:selectItems value="#{TranscriptView.terms}"  itemLabel="#{i}" itemValue="#{i}" />
        </p:selectOneMenu>
         <p:commandButton value="Select" action="#{TranscriptView.select}" icon="fa fa-filter" />
         </h:form>
</body>
</html>