<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
    xmlns:h="http://java.sun.com/jsf/html"  
    xmlns:f="http://java.sun.com/jsf/core"  
    xmlns:p="http://primefaces.org/ui">  
 <h:head>  
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<link rel="stylesheet" href="../css/welcome.css" />
<link rel="shortcut icon"  href="../css/shortcut.ico"/>
<title>View Transcript</title>
</h:head>
<body>
<p:breadCrumb class="menu">
    <p:menuitem value="Categories" outcome="/Welcome.xhtml" icon="fa fa-home"/>
    <p:menuitem value="View Transcript" outcome="/stu/selectterm.xhtml" />
</p:breadCrumb>
<h:form class="topcorner">
        <p>Welcome #{WelcomeView.name} #{WelcomeView.role}</p>
    </h:form>
    <br /><br />
    <p:dataTable var="grade" value="#{TranscriptView.transcript}">
    <p:column headerText="Course CRN">
        <h:outputText value="#{grade.crn}" />
    </p:column>
 
    <p:column headerText="Year">
        <h:outputText value="#{grade.term}" />
    </p:column>
  <p:column headerText="Grade">
        <h:outputText value="#{grade.grade}" />
    </p:column>
     <p:column headerText="Course Name">
        <h:outputText value="#{grade.coursename}" />
    </p:column>
	</p:dataTable>
    </body>
</html>