<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
    xmlns:h="http://java.sun.com/jsf/html"  
    xmlns:f="http://java.sun.com/jsf/core"  
    xmlns:p="http://primefaces.org/ui">  
 <h:head>  
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<link rel="stylesheet" href="../css/welcome.css" />
<link rel="shortcut icon"  href="../css/shortcut.ico"/>
<title>View Schedule</title>
</h:head>
<body>
<p:breadCrumb class="menu">
    <p:menuitem value="Categories" outcome="/Welcome.xhtml" icon="fa fa-home"/>
    <p:menuitem value="View Schedule" outcome="/stu/viewschedule.xhtml" />
</p:breadCrumb>
<h:form>
    <p:growl id="messages" showDetail="true" />
 	<br/>
    <h:panelGrid columnClasses="value">
        <h3 align="center" style="margin-top: 0">Academic Schedule</h3>
        <p:separator />
        <p:schedule id="schedule" value="#{ScheduleView.eventModel}" widgetVar="myschedule" timeZone="GMT+2" showWeekends="false" draggable="false" initialDate="#{ScheduleView.termStart}" showHeader="false" view="agendaWeek">
 

        </p:schedule>

    </h:panelGrid>
 
    
</h:form>
    </body>
</html>