<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
    xmlns:h="http://java.sun.com/jsf/html"  
    xmlns:f="http://java.sun.com/jsf/core"  
    xmlns:p="http://primefaces.org/ui">  
 <h:head>  
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<link rel="stylesheet" href="../css/welcome.css" />
<link rel="shortcut icon"  href="../css/shortcut.ico"/>
<title>New Course Request</title>
</h:head>
<body>
<p:breadCrumb class="menu">
    <p:menuitem value="Categories" outcome="/Welcome.xhtml" icon="fa fa-home"/>
    <p:menuitem value="New Course Request" outcome="/ins/newcourse.xhtml" />
</p:breadCrumb>

<h:form class="topcorner">
        <p>Welcome #{WelcomeView.name} #{WelcomeView.role}</p>
           </h:form>

   <h:form id="form">
    <h:panelGrid columns="1" cellpadding="5">
	     <h:outputLabel for="name" value="Course Name: " style="font-weight:bold"/>                    
            <p:inputText id="name" value="#{NewCourseView.name}" label="name" required="true"/>
	    <h:outputLabel for="capacity" value="Capacity: " style="font-weight:bold"/>                    
            <p:inputText id="capacity" value="#{NewCourseView.capacity}" label="capacity">
                <f:validateDoubleRange minimum="10" maximum="1000" />
            </p:inputText>
        <p:outputLabel for="pre" value="Select PreRequisite of the Course: " />
        <p:selectOneMenu id="pre" value="#{NewCourseView.prereq}" style="width:125px">
            <f:selectItem itemLabel="None" itemValue="-1" />
            <f:selectItems value="#{NewCourseView.courses}" var="course"  itemLabel="#{course.crn} #{course.name}" itemValue="#{course.crn}" />
        </p:selectOneMenu>
            <p:message for="capacity" />
            <p:messages autoUpdate="true"/>
        <p:outputLabel for="start" value="Start time: " />
        <p:calendar id="start" value="#{NewCourseView.start}" pattern="MM/dd/yyyy HH:mm" required="true" mindate="2/1/16" maxdate="2/6/16"/>
        <br/>
        <p:outputLabel for="end" value="End time: " />
        <p:calendar id="end" value="#{NewCourseView.end}" pattern="MM/dd/yyyy HH:mm" required="true" mindate="2/1/16" maxdate="2/6/16"/>
        
        <p:growl id="growl" life="4000" />
        
        <p:commandButton value="Course Request" update="growl" action="#{NewCourseView.request}" icon="ui-icon-check" />
        </h:panelGrid>
</h:form>

</body>
</html>