<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
    xmlns:h="http://java.sun.com/jsf/html"  
    xmlns:f="http://java.sun.com/jsf/core"  
    xmlns:p="http://primefaces.org/ui">  
 <h:head>  
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<link rel="stylesheet" href="../css/welcome.css" />
<link rel="shortcut icon"  href="../css/shortcut.ico"/>
<title>Special Permission Approval</title>
</h:head>
<body>
<p:breadCrumb class="menu">
    <p:menuitem value="Categories" outcome="/Welcome.xhtml" icon="fa fa-home"/>
    <p:menuitem value="Special Permission Approval" outcome="/ins/specialapp.xhtml" />
</p:breadCrumb>
<h:form class="topcorner">
        <p>Welcome #{WelcomeView.name} #{WelcomeView.role}</p>
    </h:form>
    
   <h:form id="form">
   <p:growl id="growl" life="4000" />
    <p:contextMenu for="requests" >
        <p:menuitem value="Accept" update="growl,requests" icon="ui-icon-search" actionListener="#{SpecialApprovalView.accept}"/>
        <p:menuitem value="Reject" update="growl,requests" icon="ui-icon-close" actionListener="#{SpecialApprovalView.reject}"/>
    </p:contextMenu>
 
    <p:dataTable id="requests" var="specialpermission" value="#{SpecialApprovalView.requests}" rowKey="#{specialpermission}"
                 selection="#{SpecialApprovalView.selectedRequest}" selectionMode="single">
        <f:facet name="header">
            All Special Permission Requests For You (Right Click to Accept or Reject)
        </f:facet>
        <p:column headerText="Course CRN">
            <h:outputText value="#{specialpermission.crn}" />
        </p:column>
        <p:column headerText="Student Name">
            <h:outputText value="#{specialpermission.studentUname}" />
        </p:column>
        <p:column headerText="Message">
            <h:outputText value="#{specialpermission.explanation}" />
        </p:column>
    </p:dataTable> 
    </h:form>
    
    </body>
</html>