<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
    xmlns:h="http://java.sun.com/jsf/html"  
    xmlns:f="http://java.sun.com/jsf/core"  
    xmlns:p="http://primefaces.org/ui">  
 <h:head>  
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<link rel="stylesheet" href="../css/welcome.css" />
<link rel="shortcut icon"  href="../css/shortcut.ico"/>
<title>Approve Course Request</title>
</h:head>
<body>
<p:breadCrumb class="menu">
    <p:menuitem value="Categories" outcome="/Welcome.xhtml" icon="fa fa-home"/>
    <p:menuitem value="Approve Course Request" outcome="/admin/approvecourse.xhtml" />
</p:breadCrumb>
<h:form class="topcorner">
        <p>Welcome #{WelcomeView.name} #{WelcomeView.role}</p>
    </h:form>
    
    <br/>
   <h:form id="form">
   <p:growl id="growl" life="4000" />
    <p:contextMenu for="requests" >
        <p:menuitem value="Accept" update="growl,requests" icon="ui-icon-search" actionListener="#{ApproveCourseView.accept}"/>
        <p:menuitem value="Reject" update="growl,requests" icon="ui-icon-close" actionListener="#{ApproveCourseView.reject}"/>
    </p:contextMenu>
 
    <p:dataTable id="requests" var="courserequest" value="#{ApproveCourseView.requests}" rowKey="#{courserequest}"
                 selection="#{ApproveCourseView.selectedRequest}" selectionMode="single">
        <f:facet name="header">
            All Course Requests
        </f:facet>
        <p:column headerText="Course Name">
            <h:outputText value="#{courserequest.courseName}" />
        </p:column>
        <p:column headerText="Course Requester">
            <h:outputText value="#{courserequest.instructor}" />
        </p:column>
        <p:column headerText="Course Corequisite">
            <h:outputText value="#{courserequest.corequisiteCRN==-1?'NA':courserequest.corequisiteCRN }" />
        </p:column>
        <p:column headerText="Course Prerequisite">
            <h:outputText value="#{courserequest.prerequisiteCRN==-1?'NA':courserequest.prerequisiteCRN }" />
        </p:column>
        <p:column headerText="Course Start">
            <h:outputText value="#{courserequest.startStr }" />
        </p:column>
        <p:column headerText="Course End">
            <h:outputText value="#{courserequest.endStr }" />
        </p:column>
    </p:dataTable> 
    </h:form>
    
    </body>
</html>