<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
    xmlns:h="http://java.sun.com/jsf/html"  
    xmlns:f="http://java.sun.com/jsf/core"  
    xmlns:p="http://primefaces.org/ui">  
 <h:head>  
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<link rel="stylesheet" href="../css/welcome.css" />
<link rel="shortcut icon"  href="../css/shortcut.ico"/>
<title>Editing Account {ModifyAccountView.selectedUser}</title>
</h:head>
<body>
<p:breadCrumb class="menu">
    <p:menuitem value="Categories" outcome="/Welcome.xhtml" icon="fa fa-home"/>
    <p:menuitem value="Modify An Account" outcome="/admin/modifyaccount.xhtml" />
</p:breadCrumb>
<h:form class="topcorner">
        <p>Welcome #{WelcomeView.name} #{WelcomeView.role}</p>
    </h:form>
    <br/>
    <p>Editing Account #{ModifyAccountView.selectedUser}</p>
    <h:form>
    <h:panelGrid columns="4" cellpadding="5">
    <p:outputLabel for="role" value="New User Role:" />
    <p:selectOneMenu id="role" value="#{ModifyAccountView.u_role}" style="width:125px" >
    		<f:selectItem itemLabel="No Role Change" itemValue="" />
            <f:selectItem itemLabel="Student" itemValue="stu" />
            <f:selectItem itemLabel="Instructor" itemValue="ins" />
            <f:selectItem itemLabel="System Administrator" itemValue="admin" itemDisabled="#{WelcomeView.sysadmin}" />
        </p:selectOneMenu>
    	<h:outputLabel for="password" value="New Password: (Not Required)" style="font-weight:bold" />
        <p:inputText id="password" value="#{ModifyAccountView.u_pass}" />
        <p:growl id="growl" life="4000" />
        <br/>
        <p:separator />
        <br/>
        <p:commandButton value="Edit" update="growl" action="#{ModifyAccountView.editAccount}" icon="ui-icon-check" />
        </h:panelGrid>
    </h:form>
</body>
</html>