<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
    xmlns:h="http://java.sun.com/jsf/html"  
    xmlns:f="http://java.sun.com/jsf/core"  
    xmlns:p="http://primefaces.org/ui">  
 <h:head>  
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<link rel="stylesheet" href="../css/welcome.css" />
<link rel="shortcut icon"  href="../css/shortcut.ico"/>
<title>Edit Accounts</title>
</h:head>
<body>
<p:breadCrumb class="menu">
    <p:menuitem value="Categories" outcome="/Welcome.xhtml" icon="fa fa-home"/>
    <p:menuitem value="Edit Accounts" outcome="/admin/modifyaccount.xhtml" />
</p:breadCrumb>
<h:form class="topcorner">
        <p>Welcome #{WelcomeView.name} #{WelcomeView.role}</p>
    </h:form>
    
   <h:form id="form">
   <p:growl id="growl" life="4000" />
    <p:contextMenu for="users" >
        <p:menuitem value="Edit" update="growl" icon="ui-icon-pencil" actionListener="#{ModifyAccountView.edit}"/>
        <p:menuitem value="Disable" update="growl" icon="ui-icon-alert" actionListener="#{ModifyAccountView.disable}"/>
        <p:menuitem value="Delete" update="growl" icon="ui-icon-close" actionListener="#{ModifyAccountView.delete}"/>
    </p:contextMenu>
 
    <p:dataTable id="users" var="user" value="#{ModifyAccountView.users}" rowKey="#{user.u_name}"
                 selection="#{ModifyAccountView.selectedUser}" selectionMode="single">
        <f:facet name="header">
            All Users
        </f:facet>
        <p:column headerText="Username ">
            <h:outputText value="#{user.u_name}" />
        </p:column>
        <p:column headerText="Password">
            <h:outputText value="#{user.password}" />
        </p:column>
        <p:column headerText="User role">
            <h:outputText value="#{user.role}" />
        </p:column>
    </p:dataTable> 
    </h:form>
    <br/>
    
    <br/>
    <p:separator />
     <h:form>
    <h:panelGrid columns="4" cellpadding="5">
    <p:outputLabel for="role" value="User Role:" />
    <p:selectOneMenu id="role" value="#{ModifyAccountView.u_role}" style="width:125px" >
            <f:selectItem itemLabel="Student" itemValue="stu" />
            <f:selectItem itemLabel="Instructor" itemValue="ins" />
            <f:selectItem itemLabel="System Administrator" itemValue="admin" itemDisabled="#{WelcomeView.sysadmin}" />
        </p:selectOneMenu>
        <h:outputLabel for="username" value="UserName:" style="font-weight:bold" />
        <p:inputText id="username" value="#{ModifyAccountView.u_name}" />
    	<h:outputLabel for="password" value="Password:" style="font-weight:bold" />
        <p:inputText id="password" value="#{ModifyAccountView.u_pass}" />
        <p:growl id="growl" life="4000" />
        <p:commandButton value="Create" update="growl" action="#{ModifyAccountView.create}" icon="ui-icon-plus" />
        </h:panelGrid>
    </h:form>
    </body>
</html>