<html xmlns="http://www.w3.org/1999/xhtml"  
    xmlns:h="http://java.sun.com/jsf/html"  
    xmlns:f="http://java.sun.com/jsf/core"  
    xmlns:p="http://primefaces.org/ui">  
  
    <h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>Course Registration System</title>
    <link rel="stylesheet" href="css/login.css"/>
    <link rel="shortcut icon" href="css/shortcut.ico"/>
    </h:head>  
   <h:form>            
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Login</h1>
			</div>

			<div class="login-form">
				<div class="control-group">
           	 	<p:inputText id="username" value="#{LoginView.username}" placeholder="username" required="true" label="username" />
				</div>

				<div class="control-group">
           		 <p:password id="password" value="#{LoginView.password}" placeholder="password" required="true" label="password" />
				</div>

				<p:growl id="growl" life="4000" />
     		
    		<h:commandButton action="#{LoginView.login}"
            value="Login" class = "btn"></h:commandButton>
				<br/>
				<p:commandButton value="Lost your password?" styleClass="btn" type="button" onclick="PF('dlg2').show();" />
				<p:dialog header="Lost and Found" widgetVar="dlg2" modal="true" height="100">
    <h:outputText value="Please contact to your administrator." />
</p:dialog>  
			</div>
		</div>
	</div>
</h:form>

</html> 