<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
    xmlns:h="http://java.sun.com/jsf/html"  
    xmlns:f="http://java.sun.com/jsf/core"  
    xmlns:p="http://primefaces.org/ui">  
 <h:head>  
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<link rel="stylesheet" href="../css/welcome.css" />
<link rel="shortcut icon"  href="../css/shortcut.ico"/>
<title>View Courses</title>
</h:head>
<body>
<p:breadCrumb class="menu">
    <p:menuitem value="Categories" outcome="Welcome.xhtml" icon="fa fa-home"/>
    <p:menuitem value="View Courses" outcome="searchcourse.xhtml" />
</p:breadCrumb>
<h:form class="topcorner">
        <p>Welcome #{WelcomeView.name} #{WelcomeView.role}</p>
    </h:form>
    <br/>
   <h:form id="form">
   <p:growl id="growl" life="4000" />
   
    <p:contextMenu for="courseTable" >
    	<p:menuitem value="Register a Student" update="growl,courseTable" icon="ui-icon-tag" oncomplete="PF('registerStu').show()"  rendered="#{WelcomeView.sysadmin || WelcomeView.root}"/>
    	<p:menuitem value="Request Permission" update="growl,courseTable" icon="ui-icon-tag" oncomplete="PF('requestPermission').show()"  rendered="#{WelcomeView.stu}"/>
        <p:menuitem value="Modify" update="growl,courseTable" icon="ui-icon-pencil" oncomplete="PF('modifyCourse').show()" rendered="#{WelcomeView.sysadmin || WelcomeView.root}"/>
        <p:menuitem value="Add Course" update="growl,courseTable,added" ajax="true" icon="ui-icon-plus" actionListener="#{CourseView.addtolist}" rendered="#{WelcomeView.stu}"/>
        <p:menuitem value="Delete" update="growl,courseTable" icon="ui-icon-close" actionListener="#{CourseView.delete}" rendered="#{WelcomeView.sysadmin || WelcomeView.root}"/>
        <p:menuitem value="Request corequisite" update="growl,courseTable" icon="ui-icon-tag" oncomplete="PF('reqDlg').show()"  rendered="#{WelcomeView.inst}"/>
        <p:menuitem value="Cancel" icon="ui-icon-close"/>
    </p:contextMenu>
    <p:dataTable id="courseTable" var="course" value="#{CourseView.courses}" widgetVar="coursesTable"
                 emptyMessage="No courses found with given criteria" filteredValue="#{CourseView.filteredCourses}" rowKey="#{course.crn}"
                 selection="#{CourseView.selectedCourse}" selectionMode="single">
         <f:facet name="header">
            All Courses
        </f:facet>
        
        <p:column filterBy="#{course.crn}" headerText="CRN" filterMatchMode="contains">
            <h:outputText value="#{course.crn}" />
        </p:column>
        
        <p:column filterBy="#{course.name}" headerText="Course Name"  filterMatchMode="contains">
            <h:outputText value="#{course.name}" />
        </p:column>
        <p:column filterBy="#{course.ins}" headerText="Instructor " filterMatchMode="contains">
            <h:outputText value="#{course.ins}" />
        </p:column>
        
      
         
         <p:column headerText="Remaining Capacity" >
            <h:outputText value="#{course.remaining}" />
        </p:column>
        
        <p:column headerText="Start" >
            <h:outputText value="#{course.startStr}" />
        </p:column>
        <p:column  headerText="End" >
            <h:outputText value="#{course.endStr}" />
        </p:column>
    </p:dataTable> 
    
    <p:dialog header="Modify a Course" modal="true" showEffect="fade" widgetVar="modifyCourse" resizable="false">
        <p:panelGrid columns="2" id="display" columnClasses="label,output">
            <h:outputLabel for="cname" value="Edit Course Name: " />
        	<p:inputText id="cname" value="#{CourseView.c_name}" />
        	<p:outputLabel for="start" value="Start time: " />
	        <p:calendar id="start" value="#{CourseView.start}" pattern="MM/dd/yyyy HH:mm" mindate="2/1/16" maxdate="2/6/16"/>
	        <p:outputLabel for="end" value="End time: " />
	        <p:calendar id="end" value="#{CourseView.end}" pattern="MM/dd/yyyy HH:mm" mindate="2/1/16" maxdate="2/6/16"/>
        	</p:panelGrid>
        	<p:commandButton value="Edit" actionListener="#{CourseView.modify}" icon="ui-icon-pencil" update="courseTable,growl" oncomplete="PF('modifyCourse').hide()" />

        
    </p:dialog>
    
    
    
    <p:dialog header="Register a Course" modal="true" showEffect="fade" widgetVar="registerStu" resizable="false">
        <p:panelGrid columns="2" id="display2" columnClasses="label,output">
            <h:outputLabel for="studentUsername" value="Enter Student UserName: " />
        	<p:inputText id="studentUsername" value="#{CourseView.stu}" />
        	</p:panelGrid>
        	<p:commandButton value="Register" actionListener="#{CourseView.register}" icon="ui-icon-pencil" update="courseTable,growl" oncomplete="PF('registerStu').hide()" />
        
    </p:dialog>
    <p:dialog header="Request Special Permission" modal="true" showEffect="fade" widgetVar="requestPermission" resizable="false">
            <h:outputLabel for="message" value="Enter message: " />
        	<p:inputTextarea id="message" value="#{CourseView.message}" maxlength="250" rows="6" cols="33"/>
        
        	<p:commandButton value="Request" actionListener="#{CourseView.request}" icon="ui-icon-pencil" update="courseTable,growl" oncomplete="PF('requestPermission').hide()" />
        
    </p:dialog>
    <br/>
    <p:separator />
    <p:dataList id="added" value="#{CourseView.addList}" var="course" type="ordered" rendered="#{WelcomeView.stu}">
        <f:facet name="header">
            Add List
        </f:facet>
        <p:growl id="growl2" life="4000" />
        
        <h:outputText value="#{course.crn}, #{course.name}" style="display:inline-block"/>
        <p:commandLink update="added,growl2" action="#{CourseView.remove}" title="Remove from list" styleClass="ui-icon ui-icon-close" style="float:left;margin-right:10px">
            <f:setPropertyActionListener value="#{course}" target="#{CourseView.selectedCourse2}" />
            <h:outputText value="#{course.crn}, #{course.name}" />
        </p:commandLink>
    </p:dataList>
    <br/>
    <p:separator />
    <br/>
    <div align="center">
   <p:commandButton value="Add Courses" actionListener="#{CourseView.add}" icon="ui-icon-pencil" update="added"/>
   
</div>
    </h:form>
    <h:form>
    <p:dialog header="Request a Corequisite" modal="true" showEffect="fade" widgetVar="reqDlg" resizable="false">
    <h:panelGrid columns="1" cellpadding="5">
	     <h:outputLabel for="name" value="Course Name: " style="font-weight:bold"/>                    
            <p:inputText id="name" value="#{CourseView.cname}" label="name" required="true"/>
	    <h:outputLabel for="capacity" value="Capacity: " style="font-weight:bold"/>                    
            <p:inputText id="capacity" value="#{CourseView.capacity}" label="capacity">
                <f:validateDoubleRange minimum="10" maximum="1000" />
            </p:inputText>
            <p:message for="capacity" />
            <p:messages autoUpdate="true"/>
        <p:outputLabel for="startt" value="Start time: " />
        <p:calendar id="startt" value="#{CourseView.startt}" pattern="MM/dd/yyyy HH:mm" required="true" mindate="2/1/16" maxdate="2/6/16"/>
        <br/>
        <p:outputLabel for="endt" value="End time: " />
        <p:calendar id="endt" value="#{CourseView.endtt}" pattern="MM/dd/yyyy HH:mm" required="true" mindate="2/1/16" maxdate="2/6/16"/>
        
        <p:growl id="growl4" life="4000" />
        </h:panelGrid>
        <p:commandButton value="Course Request" update="growl4" action="#{CourseView.requestCo}" oncomplete="PF('reqDlg').hide()" icon="ui-icon-check" />
        
    </p:dialog>
    </h:form>
    </body>
</html>