<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<link rel="stylesheet" href="../css/welcome.css" />
	<link rel="shortcut icon" href="../css/shortcut.ico" />
	<title>View/Edit Grades</title>
</h:head>
<body>
	<p:breadCrumb class="menu">
		<p:menuitem value="Categories" outcome="/Welcome.xhtml"
			icon="fa fa-home" />
		<p:menuitem value="View/Edit Grades" outcome="/viewgrades.xhtml" />
	</p:breadCrumb>
	<h:form class="topcorner">
		<p>Welcome #{WelcomeView.name} #{WelcomeView.role}</p>
	</h:form>
	<br/>
	<h:form>
		<p:outputPanel id="course" style="text-align:center;">
			<p:panelGrid columns="2"
				rendered="#{not empty ViewGradesView.courses }"
				columnClasses="label,value">
				<p:selectOneMenu id="term" value="#{ViewGradesView.index}"
					style="width:125px">
					<f:selectItem itemLabel="Available Courses" itemValue="-1" />
					<f:selectItems value="#{ViewGradesView.courses}" var="course"
						itemLabel="#{course.name}" itemValue="#{course.crn}" />
				</p:selectOneMenu>
				<p:commandButton value="Select"
					action="#{ViewGradesView.selectCourse}" icon="fa fa-filter"
					ajax="true" update="grades" />
			</p:panelGrid>
		</p:outputPanel>
		<p:contextMenu for="grades">
			<p:menuitem value="Edit" update="grades" icon="ui-icon-pencil"
				actionListener="#{ViewGradesView.edit}" oncomplete="PF('dlgGrade').show()" rendered="#{WelcomeView.root || WelcomeView.inst}"/>
			<p:menuitem value="Cancel" update="grades,growl" icon="ui-icon-close"
				actionListener="#{ViewGradesView.close}" />
		</p:contextMenu>

		<p:dataTable id="grades" var="grade" value="#{ViewGradesView.grades}"
			rowKey="#{grade}" selection="#{ViewGradesView.selectedGrade}"
			selectionMode="single">
			<f:facet name="header">
            Grades Available for You
        </f:facet>
			<p:column headerText="Course CRN">
				<h:outputText value="#{grade.crn}" />
			</p:column>
			<p:column headerText="Student Name">
				<h:outputText value="#{grade.studentName}" />
			</p:column>
			<p:column headerText="Grade">
				<h:outputText value="#{grade.grade}" />
			</p:column>
		</p:dataTable>
	
	<p:dialog header="Modify Grade" modal="true" showEffect="fade" widgetVar="dlgGrade" resizable="false">
        <p:panelGrid columns="2" id="display" columnClasses="label,output">
            <h:outputLabel for="grade" value="Edit Grade: " />
        	<p:inputText id="grade" value="#{ViewGradesView.grade}" />
        	<p:growl id="growl" life="4000" />
        <p:commandButton value="Edit" actionListener="#{ViewGradesView.modifyGrade}" icon="ui-icon-pencil" update="grades,growl" oncomplete="PF('dlgGrade').hide()" />
        </p:panelGrid>
    </p:dialog>
    
</h:form>
</body>
</html>