<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
    xmlns:h="http://java.sun.com/jsf/html"  
    xmlns:f="http://java.sun.com/jsf/core"  
    xmlns:p="http://primefaces.org/ui">  
 <h:head>  
  
   
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Course Registration System</title>
<link rel="stylesheet" href="css/welcome.css"/>
<link rel="shortcut icon"  href="css/shortcut.ico"/>
 </h:head>
 <h:body>  
<p:breadCrumb class="menu">
    <p:menuitem value="Categories" outcome="/Welcome.xhtml" icon="fa fa-home"/>
</p:breadCrumb>

	<h:form class="topcorner">
        <p>Welcome #{WelcomeView.name} #{WelcomeView.role}</p>
        <h:commandLink action="#{LoginView.logout}" value="Logout" class= "btn"></h:commandLink> <!--TODO convert this one to the menuitem QUIT-->
    </h:form>
    
    
 <p:megaMenu orientation="vertical" style="margin-top:20px" class="menu">
    
    <p:submenu label="  Registration" icon="ui-icon-gear" rendered="#{WelcomeView.stu}" >
        <p:column >
            <p:submenu label="">
                <p:menuitem value="Add Classes" outcome="searchcourse.xhtml" />
                <p:menuitem value="Course Requisites" outcome="/stu/requisite.xhtml" />
                <p:menuitem value="Drop Classes" outcome="/stu/dropcourse.xhtml"/>
            </p:submenu>
        </p:column>
    </p:submenu>

    <p:submenu label="Academic Information" icon="ui-icon-pencil" rendered="#{WelcomeView.stu}">
        <p:column>
            <p:submenu label="" >
                <p:menuitem value="View Schedule" outcome="/stu/viewschedule.xhtml" />
                <p:menuitem value="View Transcript" outcome="/stu/selectterm.xhtml" />
            </p:submenu>
        </p:column>
    </p:submenu>
    
     <p:submenu label="Account Operations" icon="ui-icon-pencil" rendered="#{WelcomeView.sysadmin || WelcomeView.root}">
        <p:column>
            <p:submenu >
                <p:menuitem value="Modify an Account" outcome="admin/modifyaccount.xhtml" />
            </p:submenu>
        </p:column>
    </p:submenu>
                <p:menuitem value="Approve Special Permission " outcome="/ins/specialapp.xhtml" rendered="#{WelcomeView.inst}"/>
                         <p:menuitem value="View Courses " outcome="searchcourse.xhtml" rendered="#{WelcomeView.inst}"/>
     <p:menuitem value="Request New Course" icon="fa fa-rocket" rendered="#{WelcomeView.inst}" outcome="/ins/newcourse.xhtml"/>
     
     <p:submenu label="Course Operations" icon="ui-icon-pencil" rendered="#{WelcomeView.sysadmin || WelcomeView.root}">
        <p:column>
            <p:submenu >
           		 <p:menuitem value="Approve a Course" outcome="/admin/approvecourse.xhtml" /> 
                <p:menuitem value="View Course" outcome="searchcourse.xhtml"  rendered="#{WelcomeView.sysadmin || WelcomeView.root}"/>
            </p:submenu>
        </p:column>
    </p:submenu>
    
    <p:submenu label="Student Operations" icon="ui-icon-pencil" rendered="#{WelcomeView.sysadmin || WelcomeView.root || WelcomeView.inst }">
        <p:column>
            <p:submenu >
                <p:menuitem value="View Student Grades" outcome="/viewgrades.xhtml"  />
                <p:menuitem value="Add Course to a Student" outcome="searchcourse.xhtml" rendered="#{WelcomeView.sysadmin || WelcomeView.root}"/>
                <p:menuitem value="Edit Student Grades" outcome="/viewgrades.xhtml" rendered="#{WelcomeView.root || WelcomeView.inst}"/>
                 <p:menuitem value="View Enrolled Students" outcome="/viewgrades.xhtml" rendered="#{WelcomeView.root || WelcomeView.inst || WelcomeView.sysadmin}"/>
            </p:submenu>
        </p:column>
    </p:submenu>
</p:megaMenu>


<h:form>

<p:dialog header="Edit Information" modal="true" showEffect="fade" widgetVar="editInfo" resizable="false">
        <p:panelGrid columns="2" id="display" columnClasses="label,output">
            <h:outputLabel for="name" value="Enter your name: " />
        	<p:inputText id="name" value="#{WelcomeView.nname}" />
        	<h:outputLabel for="surname" value="Enter your surname: " />
        	<p:inputText id="surname" value="#{WelcomeView.nsurname}" />
        	<h:outputLabel for="address" value="Enter your address: " />
        	<p:inputText id="address" value="#{WelcomeView.naddress}" />
        	</p:panelGrid>
        	<p:commandButton value="Edit" actionListener="#{WelcomeView.editInfo}" icon="ui-icon-pencil" oncomplete="PF('editInfo').hide()" />
    </p:dialog>
    <p:accordionPanel>
        <p:tab  title="Personal Information #{WelcomeView.role}">
            <h:panelGrid columns="2" cellpadding="5" layout="grid">
                <f:facet name="header">
                </f:facet>                    
                <h:outputText value="Username: " style="font-weight: bold" />
                <h:outputText value="#{WelcomeView.name}" />
                <h:outputText value="User Type:  " style="font-weight: bold" />
                <h:outputText value="#{WelcomeView.role}" />
 
                <h:outputText value="Fullname :" style="font-weight: bold" />
                <h:outputText value="#{WelcomeView.fullname}" />
 
                <h:outputText value="Address: " style="font-weight: bold" />
                <h:outputText value="#{WelcomeView.address}" />
            </h:panelGrid>
            <p:commandButton value="Edit Information" oncomplete="PF('editInfo').show()"  icon="ui-icon-disk" />
        </p:tab>
    </p:accordionPanel>
</h:form>
</h:body>  
</html>