@CHARSET "ISO-8859-1";
.topcorner{
   position:absolute;
   top:0;
   right:30px;
  }
  .btn {
  border: 2px solid transparent;
  background: #3498DB;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 100px;
  margin: 0 auto;
  text-align: center;
}
.btn:hover {
  background-color: #2980B9;
}
.menu {
	background-color:#2980B9;
	color: #ffffff;
}
.topcorner {
	color: #ffffff;
	
}